.body{margin: 0;background-color: #F8F9FF;}
.main_container {position: absolute;width: 1435px;height: 1211px;background-color: #F8F9FF;}

/********************************************************/
/* style for overview after account creation page starts*/
/* left menu starts */
.logo {position:absolute;width: 110px;height: 22.58px;left: 9%;top: 23px;border-radius: 0px;}
.left_side_menu {position: absolute;left: 0%;right: 85.07%;top: 0%;bottom: 0%;height: 1211px;width: 215px;border-radius: 0px;background-color: #FFFFFF;}
.menu_tab1 {position: absolute;width: 215px;height: 56px;left: 0px;top: 130px;}
.menu_tab2 {position: absolute;width: 216px;height: 56px;left: 0px;top: 186px;}
.menu_tab3 {position: absolute;height: 56px;width: 216px;left: 0px;top: 242px;border-radius: 0px;}
.menu_tab4 {position: absolute;height: 56px;width: 216px;left: 0px;top: 298px;border-radius: 0px;}
.menu_text{position: absolute;left: 14%;right: 6.98%;font-family: Montserrat;font-style: normal;font-weight: 400;font-size: 15px;line-height: 18px;padding: 10% 0;color: #1C1E4F;}
.menu_tab_inner_text{position: absolute;top: 20px;left: 30px}
.menu_tab_hover_1:hover{color: #4F37FD;cursor:pointer;background-color: #E3E7FF;border-left: 5px solid #4F37FD;width:98%}
.menu_tab_hover_2:hover{color: #4F37FD;}
/* left menu ends */

/* top nav starts */
.top_nav {position: absolute;right: 0%;top: 0%;bottom: 93.39%;background-color: #FFFFFF;height: 80px;width: 1225px;left: 215px;top: 0px;border-radius: 0px;}
.nav_text_o{position: absolute;width: 94px;height: 24px;left: 60px;top: 28px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 20px;line-height: 24px;color: #1C1E4F;}
.nav_profile_icon{height: 50px;width: 50px;left: 1115px;top: 15px;border-radius: 0px;position: absolute;}
/* top nav ends */

/* cards starts */
.card_o_1{position: absolute;width: 267px;height: 150px;left: 275px;top: 130px;background-color: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
.card_o_2{position: absolute;width: 267px;height: 150px;left: 562px;top: 130px;background-color: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
.card_o_3{position: absolute;width: 267px;height: 150px;left: 849px;top: 130px;background-color: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
.card_title{position: absolute;left: 8.99%;right: 20%;top: 12%;bottom: 75.33%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 13px;line-height: 16px;letter-spacing: 1.21333px;text-transform: uppercase;color: #9198A5;}
.card_content{position: absolute;left: 8.99%;right: 9.74%;top: 20%;bottom: 35.33%;font-family: Montserrat;font-style: normal;font-weight: 400;font-size: 28px;line-height: 32px;color: #4F37FD;}
/* cards ends */

.text_before_app_row{position: absolute;width: 215px;height: 24px;left: 275px;top: 344px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 20px;line-height: 24px;color: #1C1E4F;}
.button_before_app_row{position: absolute;left: 82.08%;right: 4.17%;top: 27.25%;bottom: 68.79%;background: #4F37FD;border-radius: 5px;}
.create_new_app_icon{font-weight: 600; font-size: 25px}
.button_text_before_app_row{position: absolute;left: 15%;right: 15%;top: 30%;bottom: 30.22%;font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;display: flex;align-items: center;text-align: center;color: #FFFFFF;}

/* app row starts */
.app_row {position: absolute;width: 1105px;height: 139px;left: 275px;top: 398px;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 1px;}
.ar-1{position: absolute;left: 3.62%;right: 82.35%;top: 28.78%;bottom: 62.59%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 12px;line-height: 15px;letter-spacing: 1.12px;text-transform: uppercase;color: #9198A5;}
.ar-2{position: absolute;left: 3.62%;right: 82.35%;top: 58.99%;bottom: 28.78%;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 18px;line-height: 22px;color: #1C1E4F;}
.ar-3{position: absolute;left: 21.27%;right: 64.71%;top: 28.78%;bottom: 62.59%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 12px;line-height: 15px;letter-spacing: 1.12px;text-transform: uppercase;color: #9198A5;}
.ar-4{position: absolute;left: 21.27%;right: 64.71%;top: 58.99%;bottom: 25.18%;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 18px;line-height: 22px;color: #1C1E4F;}
.ar-5{position: absolute;left: 38.91%;right: 47.06%;top: 28.78%;bottom: 60.43%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 12px;line-height: 15px;letter-spacing: 1.12px;text-transform: uppercase;color: #9198A5;}
.ar-6{position: absolute;left: 38.91%;right: 47.06%;top: 58.99%;bottom: 25.18%;font-family: Montserrat;font-style: normal;font-weight: 400;font-size: 18px;line-height: 22px;color: #1C1E4F;}
.ar-7{position: absolute;left: 56.56%;right: 29.41%;top: 28.78%;bottom: 60.43%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 12px;line-height: 15px;letter-spacing: 1.12px;text-transform: uppercase;color: #9198A5;}
.ar-8{position: absolute;left: 56.56%;right: 29.41%;top: 58.99%;bottom: 25.18%;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 18px;line-height: 22px;color: #1C1E4F;}
.ar-9{position: absolute;left: 74.21%;right: 11.76%;top: 28.78%;bottom: 62.59%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 12px;line-height: 15px;letter-spacing: 1.12px;text-transform: uppercase;color: #9198A5;}
.ar-10{position: absolute;left: 74.21%;right: 16.29%;top: 54.68%;bottom: 20.14%;background: #4F37FD;border-radius: 5px;}
.ar_btn_text{position: absolute;left: 30%;right: 19.19%;top: 30%;bottom: 30.22%;font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;display: flex;align-items: center;text-align: center;color: #FFFFFF;}
.ar-11{position: absolute;left: 95.38%;right: 3.66%;top: 41.73%;bottom: 42.45%;box-sizing: border-box;}
/* app row ends */
.api_key_div{position: absolute;width: 332px;height: 144px;left: 711px;top: 133px;background: #FFFFFF;border: 1px solid #DBDEEC;box-sizing: border-box;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);}
.api_key_text_1{position: absolute;left: 45.32%;right: 42.1%;top: 22.81%;bottom: 49.1%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 12px;line-height: 15px;letter-spacing: 1.12px;text-transform: uppercase;color: #9198A5;}
.api_key_text_2{position: absolute;width: 312px;height: 18px;left: 50px;top: 70px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 15px;line-height: 18px;color: #1C1E4F;}
.api_key_icon{position: absolute;width: 24px;height: 24px;left: 280px;top: 70px;}

.modal_container{position: absolute;width: 1435px;height: 1211px;left: 0px;top: 0px;background: rgba(0, 0, 0, 0.3);}
.modal_form_container{position: absolute;width: 500px;height: 420px;left: 470px;top: 395px;background: #FFFFFF;border-radius: 5px;}
.modal_form_header{position: absolute;width: 500px;height: 80px;left: 0px;top: 0px;background: #4F37FD;border-radius: 5px 5px 0px 0px;}
.modal_form_text{position: absolute;width: 164px;height: 19px;left: 47px;top: 29px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 20px;line-height: 24px;color: #FCFCFC;}
.modal_form_cross_button{position: absolute;width: 19px;height: 19px;left:439px;top: 29px;color: #FCFCFC;}
.modal_form_label_1{position: absolute;left: 53px;top: 129px;right: 52.78%;bottom: 56.4%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 13px;line-height: 16px;letter-spacing: 1.21333px;text-transform: uppercase;color: #9198A5;}
.modal_form_input{position: absolute;height: 48px;left: 53px;top: 154px;right: 510px;width: 81%;border: 1px solid #DBDEEC;box-sizing: border-box;border-radius: 5px;}
.modal_form_input_text{font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 14px;line-height: 17px;padding-left: 4%;color: #1C1E4F;}
.modal_form_input_text:focus{outline: none;}
.modal_form_label_2{position: absolute;left: 53px;top: 224px;right: 52.78%;bottom: 47.65%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 13px;line-height: 16px;letter-spacing: 1.21333px;text-transform: uppercase;color: #9198A5;}
.modal_form_button_1{position: absolute;left: 53px;right: 58%;top: 79%;bottom: 68.79%;background-color:#4F37FD;;border-radius: 7px; height: 48px;}
.modal_form_button_1_text{position: absolute;left: 24%;right: 15%;top: 30%;bottom: 30.22%;font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;display: flex;align-items: center;text-align: center;color: #FFFFFF;}
.modal_form_button_2{position: absolute;left: 216px;right: 31%;top: 79%;bottom: 68.79%;background: #F7F7F9;border: 1px solid #DBDEEC;box-sizing: border-box;border-radius: 7px; height: 48px;}
.modal_form_button_2_text{position: absolute;left: 30%;right: 15%;top: 30%;bottom: 30.22%;font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;display: flex;align-items: center;text-align: center;color: #9198A5;}
.created_app_alert{position: absolute;width: 384px;height: 56px;left: 528px;top: 0px;background: #4EDB89;border-radius: 1px;}
.created_app_alert_tick_icon{position: absolute;width: 21px;height: 21px;left: 40px;top: 17px;}
.created_app_alert_text{position: absolute;width: 210px;height: 17px;left: 40px;top: 19px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 14px;line-height: 17px;text-align: center;color: #FCFCFC;}
.modal_dropdown_input{position: absolute;height: 48px;right: 510px;left: 53px;top: 254px;width: 81%;border: 1px solid #DBDEEC;box-sizing: border-box;border-radius: 5px;}
.modal_dropdown_input_text{position: absolute;left: 5%;right: 59.86%;top: 34.68%;bottom: 43.63%;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 14px;line-height: 17px;color: #1C1E4F;}
.modal_dropdown_input_icon{position: absolute;left: 90.75%;right: 18.75%;top: 50%;transform: matrix(1, 0, 0, -1, 0, 0);}
.modal_dropdown_menu{position: absolute;height: 90px;right: 510px;left: 53px;top: 254px;width: 81%;z-index: 4;background-color: #FFFFFF;border: 1px solid #DBDEEC;box-sizing: border-box;border-radius: 5px;}
.modal_dropdown_menu_text_1{position: absolute;left: 5%;right: 18.75%;top: 18%;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 15px;line-height: 18px;color: #1C1E4F;}
.modal_dropdown_menu_icon{position: absolute;left: 93%;right: 18.75%;top: 24%;transform: matrix(-1, 0, 0, 1, 0, 0);}
.modal_dropdown_menu_text_2{position: absolute;left: 0%;right: 0;top: 55%;padding-left: 5%;padding-top: 2%;padding-bottom: 1%; font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 15px;line-height: 18px;color: #1C1E4F;height: 30px;}
/* style for overview after account creation page ends*/
/******************************************************/

/***********************************/
/* style of app detail page starts */
.nav_text_ad_1{position: absolute;left: 120px;top: 33px;}
.nav_text_ad_2{position: absolute;width: 133px;height: 24px;left: 140px;top: 28px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 20px;line-height: 24px;color: #1C1E4F;}

.text_before_card{position: absolute;width: 133px;height: 24px;left: 275px;top: 130px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 20px;line-height: 24px;color: #1C1E4F;}
.icon_before_card{position: absolute;left: 29.72%;right: 69.38%;top: 11.23%;bottom: 87.7%;}

/* cards starts */
.card_ad_1{position: absolute;width: 267px;height: 150px;left: 275px;top: 186px;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
.card_ad_2{position: absolute;width: 267px;height: 150px;left: 554px;top: 186px;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
.card_ad_3{position: absolute;width: 267px;height: 150px;left: 833px;top: 186px;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
.card_ad_4{position: absolute;width: 267px;height: 150px;left: 1113px;top: 186px;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
/* cards end */

.card_ad_1_title{position: absolute;left: 9.36%;right: 30%;top: 8%;bottom: 75.33%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 13px;line-height: 16px;letter-spacing: 1.21333px;text-transform: uppercase;color: #9198A5;}
.card_ad_1_content_1{position: absolute;left: 9.36%;right: 9.36%;top: 18%;bottom: 48%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 28px;line-height: 32px;color: #4F37FD;}
.card_ad_1_content_2{position: absolute;left: 9.36%;right: 9.36%;top: 56%;bottom: 16%;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 12px;line-height: 160.4%;color: #1C1E4F;}
.card_ad_2_title{position: absolute;left: 8.99%;right: 22%;top: 8%;bottom: 75.33%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 13px;line-height: 16px;letter-spacing: 1.21333px;text-transform: uppercase;color: #9198A5;}
.card_ad_2_content{position: absolute;left: 8.99%;right: 9.74%;top: 18%;bottom: 35.33%;font-family: Montserrat;font-style: normal;font-weight: 400;font-size: 28px;line-height: 32px;color: #4F37FD;}
.card_ad_3_title{position: absolute;left: 8.99%;right: 9.74%;top: 8%;bottom: 75.33%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 13px;line-height: 16px;letter-spacing: 1.21333px;text-transform: uppercase;color: #9198A5;}
.card_ad_3_content{position: absolute;left: 8.99%;right: 9.74%;top: 18%;bottom: 30.67%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 28px;line-height: 32px;color: #4F37FD;}
.card_ad_4_title{position: absolute;left: 8.99%;right: 28.46%;top: 8%;bottom: 75.33%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 13px;line-height: 16px;letter-spacing: 1.21333px;text-transform: uppercase;color: #9198A5;}
.card_ad_4_button_1{position: absolute;left: 8.99%;right: 51.69%;top: 40%;bottom: 36%;background: #4F37FD;border-radius: 7px;}
.card_ad_4_button_1_text{position: absolute;left: 29.97%;right: 63.67%;top: 50%;bottom: 42.67%;font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;display: flex;align-items: center;text-align: center;color: #FFFFFF;}
.card_ad_4_button_2{position: absolute;left: 52.06%;right: 12.73%;top: 40%;bottom: 36%;background: #4F37FD;border-radius: 7px;}
.card_ad_4_button_2_text{position: absolute;left: 34.04%;right: 24.72%;top: 48%;bottom: 40%;font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;display: flex;align-items: center;text-align: center;color: #FFFFFF;}
.text_before_image{position: absolute;width: 138px;height: 24px;left: 278px;top: 390px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 20px;line-height: 24px;color: #1C1E4F;}
.ad_dropdown_input{position: absolute;height: 40px;left: 1180px;right: 55px;top: 386px;background-color: #FFFFFF;border: 1px solid #DBDEEC;box-sizing: border-box;border-radius: 7px;}
.ad_dropdown_input_text{position: absolute;left: 13%;right: 5.83%;top: 32.7%;bottom: 65.81%;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 15px;line-height: 18px;color: #1C1E4F;}
.ad_dropdown_input_icon{position: absolute;left: 85%;right: 18.75%;top: 60%;bottom: 35%;transform: matrix(1, 0, 0, -1, 0, 0);}
.ad_dropdown_menu{position: absolute;height: 199px;left: 1180px;right: 55px;top: 386px;z-index: 4;background-color: #FFFFFF;border: 1px solid #DBDEEC;box-sizing: border-box;border-radius: 5px;}
.ad_dropdown_menu_text_1{position: absolute;left: 13%;right: 18.75%;top: 10%;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 15px;line-height: 18px;color: #1C1E4F;}
.ad_dropdown_menu_icon{position: absolute;left: 88%;right: 18.75%;top: 10%;transform: matrix(-1, 0, 0, 1, 0, 0);}
.ad_dropdown_menu_text_2{position: absolute;left: 0;right: 0;top: 35%;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 15px;line-height: 18px;color: #1C1E4F;height: 30px;padding-left: 13%; padding-top: 7%;}
.ad_dropdown_menu_text_3{position: absolute;left: 0%;right: 0%;top: 57%;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 15px;line-height: 18px;color: #1C1E4F;height: 30px;padding-left: 13%; padding-top: 7%}
.ad_dropdown_menu_text_4{position: absolute;left: 0%;right: 0%;top: 79%;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 15px;line-height: 18px;color: #1C1E4F;height: 30px;padding-left: 13%; padding-top: 7%}
.image{position: absolute;width: 1105px;height: 460px;left: 275px;top: 446px;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px}
/* style of app detail page end */
/*******************************/

/*******************************/
/* style for dev tools starts */
.text_before_dev_tools{position: absolute;width: 220px;height: 24px;left: 275px;top: 130px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 20px;line-height: 24px;color: #1C1E4F;}
.card_dt_1{position: absolute;width: 542px;height: 180px;left: 275px;top: 186px;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
.card_dt_2{position: absolute;width: 542px;height: 180px;left: 838px;top: 186px;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
.card_dt_3{position: absolute;width: 542px;height: 180px;left: 275px;top: 386px;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
.card_dt_4{position: absolute;width: 542px;height: 180px;left: 838px;top: 386px;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
.card_dt_5{position: absolute;width: 542px;height: 180px;left: 275px;top: 586px;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
.card_dt_6{position: absolute;width: 542px;height: 180px;left: 838px;top: 586px;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
.dev_tool_icon{position: absolute;width: 65px;height: 65px;left: 40px;top: 50px;z-index: 100}
.dev_tool_icon_title{position: absolute;width: 377px;height: 25px;left: 120px;top: 45px;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 24px;line-height: 32px;z-index: 100;color: #1C1E4F;}
.dev_tool_icon_content{position: absolute;width: 377px;height: 36px;left: 120px;top: 90px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 14px;line-height: 160.4%;z-index: 100;color: #1C1E4F;}
/* style for dev tools ends */
/***************************/

/***********************************/
/* style of profile setting starts */
.form_container{position: absolute;width: 1105px;height: 540px;left: 275px;top: 130px;	background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);	border-radius: 5px;}
.profile_text_for_pro{position: relative;width: 47px;height: 17px;left: 46px;top: 45px;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 14px;line-height: 17px;color: #1C1E4F;}
.password_text_for_pro{position: absolute;width: 68px;height: 17px;left: 150px;top: 45px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 14px;line-height: 17px;color: #1C1E4F;}
.active_line_for_pro{position: absolute;width: 47px;height: 0px;left: 46px;top: 95px;z-index: 1;border: 3px solid #4F37FD;}
.dividing_line{position: absolute;width: 1105px;height: 0px;left: 0px;top: 97px;border: 1px solid #DBDEEC;}
.ps_label_1{position: absolute;top: 135px;left: 46px;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 13px;line-height: 16px;letter-spacing: 1.21333px;text-transform: uppercase;color: #9198A5;}
.ps_input_1{position: absolute;height: 48px;top: 165px;left: 46px;width: 50%;border: 1px solid #DBDEEC;box-sizing: border-box;border-radius: 5px;}
.ps_help_text_1{position: absolute;left: 46px;right: 67.5%;top: 40.57%;bottom: 70.19%;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 12px;line-height: 15px;color: #F90C1B;}
.ps_label_2{position: absolute;top: 245px;left: 46px;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 13px;line-height: 16px;letter-spacing: 1.21333px;text-transform: uppercase;color: #9198A5;}
.ps_input_2{position: absolute;height: 48px;top: 275px;left: 46px;width: 50%;border: 1px solid #DBDEEC;box-sizing: border-box;border-radius: 5px;}
.ps_help_text_2{position: absolute;left: 46px;	right: 67.57%;top: 61%;bottom: 59.95%;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 12px;line-height: 15px;color: #F90C1B;}
.ps_label_3{position: absolute;top: 355px;left: 46px;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 13px;line-height: 16px;letter-spacing: 1.21333px;text-transform: uppercase;color: #9198A5;}
.ps_input_3{position: absolute;height: 48px;top: 385px;left: 46px;width: 50%;border: 1px solid #DBDEEC;box-sizing: border-box;border-radius: 5px;}
.profile_setting_button{position: absolute;left: 46px;;right: 81%;top: 87.25%;bottom: 68.79%;background: #4F37FD;border-radius: 7px; height: 48px;}
.profile_setting_button_text{position: absolute;left: 19%;right: 15%;top: 30%;bottom: 30.22%;font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;display: flex;align-items: center;text-align: center;color: #FFFFFF;}
.profile_update_alert_text{position: absolute;width: 210px;height: 17px;left: 80px;top: 19px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 14px;line-height: 17px;text-align: center;color: #FCFCFC;}
.profile_form_input_text{font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 14px;line-height: 17px;padding-left: 2%;color: #1C1E4F;}
.profile_form_input_text:focus{outline: none;}
/* style of profile settings ends */
/**********************************/

/************************************/
/* style of password setting starts */
.profile_text_for_pas{position: relative;width: 47px;height: 17px;left: 46px;top: 45px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 14px;line-height: 17px;color: #1C1E4F;}
.password_text_for_pas{position: absolute;width: 68px;height: 17px;left: 150px;top: 45px;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 14px;line-height: 17px;color: #1C1E4F;}
.password_help_text{position: absolute;left: 46px;right: 64.17%;top: 61%;bottom: 61.44%;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 12px;line-height: 15px;color: #F90C1B;}
.active_line_for_pas{position: absolute;width: 69px;height: 0px;left: 146px;top: 95px;z-index: 1;border: 3px solid #4F37FD;}
/* style of password settings ends */
/***********************************/

/********************************/
/* style of signup page starts */
.logo_on_signup{position: absolute;width: 180px;height: 36.94px;left: 630px;top: 100px;}
.signup_form_container{position: absolute;width: 571px;height: 571px;left: 435px;top: 217px;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
.signup_text_1{position: absolute;width: 229px;height: 23px;left: 31%;top: 8%;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 24px;line-height: 29px;color: #1C1E4F;}
.signup_google{position: absolute;left: 37px;right: 68%;top: 20%;bottom: 68.79%;background: #4F37FD;border-radius: 7px; height: 48px;}
.signup_google_text{position: absolute;left: 19%;right: 15%;top: 30%;bottom: 30.22%;font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;display: flex;align-items: center;text-align: center;color: #FFFFFF;}
.signup_linkedin{position: absolute;left: 202px;right: 37.6%;top: 20%;bottom: 68.79%;background: #4F37FD;border-radius: 7px; height: 48px;}
.signup_linkedin_text{position: absolute;left: 18%;right: 10%;top: 30%;bottom: 30.22%;font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;display: flex;align-items: center;text-align: center;color: #FFFFFF;}
.signup_twitter{position: absolute;left: 375px;right: 8%;top: 20%;bottom: 68.79%;background: #4F37FD;border-radius: 7px; height: 48px;}
.signup_twitter_text{position: absolute;left:22%;right: 10%;top: 30%;bottom: 30.22%;font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;display: flex;align-items: center;text-align: center;color: #FFFFFF;}
.signup_or{position: absolute;width: 18px;height: 17px;left: 273px;top: 193px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 14px;line-height: 17px;color: #9198A5;}
.or_left{position: absolute;width: 217px;height: 0px;left: 37px;top: 200px;border: 1px solid #DBDEEC;}
.or_right{position: absolute;width: 217px;height: 0px;left: 307px;top: 200px;border: 1px solid #DBDEEC;}
.signup_label{position: absolute;left: 6.5%;right: 55.21%;top: 45.41%;bottom: 53.32%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 13px;line-height: 16px;letter-spacing: 1.21333px;text-transform: uppercase;color: #9198A5;}
.singup_input{position: absolute;height: 48px;left: 38px;right: 474px;top: 293px;width: 86%;border: 1px solid #DBDEEC;box-sizing: border-box;border-radius: 5px;}
.signup_button{position: absolute;left: 166px;right: 31%;top: 67%;bottom: 68.79%;background: #4F37FD;border-radius: 7px; height: 48px;}
.signup_button_text{position: absolute;left: 20%;right: 15%;top: 30%;bottom: 30.22%;font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;display: flex;align-items: center;text-align: center;color: #FFFFFF;}
.signup_text_2{position: absolute;width: 491px;height: 30px;left: 35px;top: 445px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 12px;line-height: 17px;text-align: center;color: #1C1E4F;}
.signup_text_3{	position: absolute;width: 233px;height: 14px;left: 162px;top: 520px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 14px;line-height: 17px;color: #1C1E4F;}
/* style of signup page ends */
/****************************/


/**************************************/
/* style of account was created start */
.account_was_created_container{position: absolute;width: 571px;height: 178px;left: 435px;top: 217px;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);	border-radius: 5px;}
.account_was_created_text_1{position: absolute;width: 252px;height: 23px;left: 28%;top: 19%;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 24px;line-height: 29px;color: #1C1E4F;}
.account_was_created_text_2{position: absolute;width: 398px;height: 35px;left: 81px;top: 100px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 14px;line-height: 20px;text-align: center;color: #1C1E4F;}
/* style of account was created end*/
/***********************************/

/***********************************************/
/* style of fill additional information starts */
.fill_additional_inofrmation_container{position: absolute;width: 571px;height: 625px;left: 435px;top: 217px;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
.fill_additional_inofrmation_text{position: absolute;width: 311px;height: 29px;left: 170px;top: 50px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 24px;line-height: 29px;color: #1C1E4F;}
.fill_additional_inofrmation_label_1{position: absolute;left: 6.5%;right: 55.21%;top: 18%;bottom: 67.48%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 13px;line-height: 16px;letter-spacing: 1.21333px;text-transform: uppercase;color: #9198A5;}
.fill_additional_inofrmation_input_1{position: absolute;height: 48px;left: 6.5%;right: 474px;top: 23%;width: 87%;border: 1px solid #DBDEEC;box-sizing: border-box;border-radius: 5px;}
.fill_additional_inofrmation_label_2{position: absolute;left: 6.5%;top: 35%;right: 55.21%;bottom: 57.13%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 13px;line-height: 16px;letter-spacing: 1.21333px;text-transform: uppercase;color: #9198A5;}
.fill_additional_inofrmation_input_2{position: absolute;height: 48px;left: 6.5%;top: 40%;width: 87%;right: 474px;border: 1px solid #DBDEEC;box-sizing: border-box;border-radius: 5px;}
.fill_additional_inofrmation_label_3{position: absolute;left: 6.5%;top: 52%;right: 55.21%;bottom: 46.78%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 13px;line-height: 16px;letter-spacing: 1.21333px;text-transform: uppercase;color: #9198A5;}
.fill_additional_inofrmation_input_3{position: absolute;height: 48px;left: 6.5%;top: 57%;width: 87%;right: 474px;border: 1px solid #DBDEEC;box-sizing: border-box;border-radius: 5px;}
.fill_additional_inofrmation_label_4{position: absolute;left: 6.5%;top: 69%;right: 55.21%;bottom: 36.43%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 13px;line-height: 16px;letter-spacing: 1.21333px;text-transform: uppercase;color: #9198A5;}
.fill_additional_inofrmation_input_4{position: absolute;height: 48px;left: 6.5%;top: 74%;width: 87%;right: 474px;border: 1px solid #DBDEEC;box-sizing: border-box;border-radius: 5px;}
.fill_additional_inofrmation_button{position: absolute;left: 232px;right: 36%;top: 87%;bottom: 68.79%;background: #4F37FD;border-radius: 7px; height: 48px;}
.fill_additional_information_button_text{position: absolute;left: 24%;right: 15%;top: 30%;bottom: 30.22%;font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;display: flex;align-items: center;text-align: center;color: #FFFFFF;}
/* style of fill of additional information ends */
/***********************************************/

/********************************/
/* style of signin page starts */
.signin_form_container{position: absolute;width: 571px;height: 623px;left: 435px;top: 217px;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
.signin_text_1{position: absolute;width: 309px;height: 23px;left: 124px;top: 50px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 24px;line-height: 29px;color: #1C1E4F;}
.signin_text_2{position: absolute;width: 163px;height: 14px;left: 366px;top: 58%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 14px;line-height: 17px;color: #4F37FD;}
.signin_text_3{position: absolute;width: 224px;height: 14px;left: 177px;top: 574px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 14px;line-height: 17px;color: #1C1E4F;}
.signin_label_1{position: absolute;left: 6.5%;top: 41%;right: 55.21%;bottom: 53.32%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 13px;line-height: 16px;letter-spacing: 1.21333px;text-transform: uppercase;color: #9198A5;}
.signin_input_1{position: absolute;height: 48px;left: 6.5%;top: 46%;right: 474px;width: 86%;border: 1px solid #DBDEEC;box-sizing: border-box;border-radius: 5px;}
.signin_label_2{position: absolute;left: 6.5%;top: 58%;right: 55.21%;bottom: 42.87%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 13px;line-height: 16px;letter-spacing: 1.21333px;text-transform: uppercase;color: #9198A5;}
.signin_input_2{position: absolute;height: 48px;left: 6.5%;top: 63%;width: 86%;right: 474px;border: 1px solid #DBDEEC;box-sizing: border-box;border-radius: 5px;}
.signin_button{position: absolute;left: 226px;right: 41%;top: 76%;bottom: 68.79%;background: #4F37FD;border-radius: 7px; height: 48px;}
.signin_button_text{position: absolute;left: 27%;right: 15%;top: 30%;bottom: 30.22%;font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;display: flex;align-items: center;text-align: center;color: #FFFFFF;}
/* style of signin page ends */
/****************************/

/*****************************************/
/* style of forgot password page starts */
.forgot_password_container{position: absolute;width: 571px;height: 297px;left: 435px;top: 217px;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
.forgot_password_text{position: absolute;width: 276px;height: 23px;left: 150px;top: 35px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 24px;line-height: 29px;color: #1C1E4F;}
.forgot_password_label{position: absolute;left: 6.5%;top: 31.25%;right: 55.21%;bottom: 67.48%;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 13px;line-height: 16px;letter-spacing: 1.21333px;text-transform: uppercase;color: #9198A5;}
.forgot_password_input{position: absolute;height: 48px;left: 6.5%;top: 40%;width: 87%;right: 474px;border: 1px solid #DBDEEC;box-sizing: border-box;border-radius: 5px;}
.forgot_password_button{position: absolute;left: 177px;right: 31%;top: 72%;bottom: 68.79%;background: #4F37FD;border-radius: 7px; height: 48px;}
.forgot_password_button_text{position: absolute;left: 18%;right: 15%;top: 30%;bottom: 30.22%;font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;display: flex;align-items: center;text-align: center;color: #FFFFFF;}
/* style of forgot password page ends */
/*************************************/

/************************************************/
/* style of password reset confirmation starts */
.password_reset_confirmation_container{position: absolute;width: 571px;height: 238px;left: 435px;top: 217px;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
.password_reset_confirmation_text_1{position: absolute;width: 212px;height: 29px;left: 177px;top: 34px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 24px;line-height: 29px;color: #1C1E4F;}
.password_reset_confirmation_text_2{position: absolute;width: 348px;height: 95px;left: 112px;top: 95px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 14px;line-height: 20px;text-align: center;color: #1C1E4F;}
/* style of password reset confirmation ends */
/********************************************/

/*******************************/
/* style of email page starts */
.email_container{position: absolute;width: 600px;height: 504px;left: 510px;top: 112px;background: #FFFFFF;border-radius: 5px;}
.email_head{position: absolute;width: 600px;height: 80px;background: #4F37FD;border-radius: 5px 5px 0px 0px;}
.email_logo{position: absolute;width: 109.99px;height: 22.58px;left: 65px;top: 29px;}
.email_text_1{position: absolute;width: 480px;height: 63px;left: 65px;top: 152px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 15px;line-height: 150%;color: #1C1E4F;}
.email_text_2{position: absolute;width: 480px;height: 63px;left: 65px;top: 336px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 15px;line-height: 150%;color: #1C1E4F;}
.email_text_3{position: absolute;width: 480px;height: 40px;left: 65px;top: 426px;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 15px;line-height: 150%;color: #1C1E4F;}
.email_button{position: absolute;left: 222px;right: 36%;top: 50%;bottom: 68.79%;background: #4F37FD;border-radius: 7px; height: 48px;}
.email_button_text{position: absolute;left: 21%;right: 15%;top: 30%;bottom: 30.22%;font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 14px;line-height: 17px;display: flex;align-items: center;text-align: center;color: #FFFFFF;}
/* style of email page ends */
/***************************/

/**************************/
.dropdown_div{position: absolute;width: 247px;height: 231px;left: 912px;top: 80px;z-index: 1000;background: #FFFFFF;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);border-radius: 5px;}
.dropdown_divider{position: absolute;width: 194px;height: 0px;left: 27px;top: 78px;z-index: 1100;border: 1px solid #DBDEEC;}
.dropdown_text_1{position: absolute;width: 167px;height: 14px;left: 48px;top: 20px;z-index: 1100;font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 14px;line-height: 17px;color: #1C1E4F;}
.dropdown_text_2{position: absolute;width: 167px;height: 12px;left: 26px;top: 48px;z-index: 1100;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 12px;line-height: 15px;color: #9198A5;}
.dropdown_text_3{position: absolute;width: 58px;height: 14px;left: 28px;top: 118px;z-index: 1100;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 14px;line-height: 17px;color: #1C1E4F;}
.dropdown_text_4{position: absolute;width: 59px;height: 14px;left: 28px;top: 158px;z-index: 1100;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 14px;line-height: 17px;color: #1C1E4F;}
.dropdown_hide{visibility: hidden;display: none;}
.dropdown_hover:hover{color: #4F37FD;cursor:pointer;}
/************************/


.button_hover:hover {background: #321CD3;cursor:pointer;}
.arrow {transition-property: left;transition-duration: 1s}
.arrow:hover {left: 96.5%;}
.edit:hover{cursor:pointer}
.profile_input_color_red{border-color:#F90C1B}
.link_text{font-family: Montserrat;font-size: 14px;font-style: normal;font-weight: 500;line-height: 20px;letter-spacing: 0px;text-align: center;color: #4F37FD}
.email_link_text{font-family: Montserrat;font-size: 15px;font-style: normal;font-weight: 500;line-height: 23px;letter-spacing: 0px;}
.font_medium{font-weight: 500;};
.icon {align-items: center;display: inline-flex;justify-content: center;}
.ad_dropdown_tab_hover:hover{background-color: #DBDEEC;border-radius: 0px 0px 5px 5px;}
.active_menu_tab_1{color: #4F37FD;cursor:pointer;background-color: #E3E7FF;border-left: 5px solid #4F37FD;width:98%}
.active_menu_tab_2{color: #4F37FD;}
.card_dt_1_hover {transition-property: top;transition-duration: .3s}
.card_dt_1_hover:hover{top: 180px;}
.card_dt_3_hover {transition-property: top;transition-duration: .3s}
.card_dt_3_hover:hover{top: 380px;}
.card_dt_5_hover {transition-property: top;transition-duration: .3s}
.card_dt_5_hover:hover{top: 580px;}
.copy_write_text{position: absolute;width: 236px;height: 15px;left: 602px;top: 95%;font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 12px;line-height: 15px;display: flex;align-items: center;text-align: center;color: #1C1E4F;}
.overview_app_row_hover {transition-property: top;transition-duration: .3s}
.overview_app_row_hover:hover{top: 393px;}
/* colors */
.tatum_puple{color: #4F37FD;}



/* strip logos */
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-alert_tick {
    width: 21px;
    height: 21px;
    background-position: -5px -5px;
}

.sprite-arrow {
    width: 13px;
    height: 24px;
    background-position: -36px -5px;
}

.sprite-cancel_button {
    width: 21px;
    height: 21px;
    background-position: -59px -5px;
}

.sprite-check {
    width: 21px;
    height: 14px;
    background-position: -90px -5px;
}

.sprite-contact-us {
    width: 15px;
    height: 11px;
    background-position: -121px -5px;
}

.sprite-copy {
    width: 16px;
    height: 15px;
    background-position: -121px -26px;
}

.sprite-dev {
    width: 65px;
    height: 65px;
    background-position: -5px -51px;
}

.sprite-dev-tools {
    width: 15px;
    height: 11px;
    background-position: -80px -51px;
}

.sprite-docs {
    width: 15px;
    height: 15px;
    background-position: -105px -51px;
}

.sprite-dropdown {
    width: 16px;
    height: 16px;
    background-position: -80px -76px;
}

.sprite-dropup {
    width: 10px;
    height: 6px;
    background-position: -106px -76px;
}

.sprite-edit {
    width: 13px;
    height: 13px;
    background-position: -106px -92px;
}

.sprite-google {
    width: 18px;
    height: 18px;
    background-position: -80px -115px;
}

.sprite-linkedin {
    width: 19px;
    height: 18px;
    background-position: -108px -115px;
}

.sprite-overview {
    width: 19px;
    height: 19px;
    background-position: -147px -5px;
}

.sprite-top_arrow {
    width: 8px;
    height: 15px;
    background-position: -147px -34px;
}

.sprite-twitter {
    width: 19px;
    height: 15px;
    background-position: -130px -59px;
}

.sprite-user {
    width: 50px;
    height: 50px;
    background-position: -176px -5px;
}





